{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">My Posts</h2>
                    </div>
                    <div class="card-body">
                        {% if posts %}
                            <ul class="list-group list-group-flush">
                                {% for post in posts %}
                                    <li class="list-group-item">
                                        <div class="post-container">
                                            <div class="post-content">
                                                <p>{{ post.description }}</p>
                                                {% for image in post.images.all %}
                                                    <img src="{{ image.image.url }}" alt="Post Image" class="img-fluid">
                                                {% endfor %}
                                            </div>
                                            <div class="post-meta">
                                                <p>Posted on: {{ post.created_at }}</p>
                                                <p>Likes: {{ post.likes.count }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-center">You have no posts.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}