{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="profile-header text-center mb-4">
            {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.username }}'s avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            {% else %}
                <img src="{% static 'default-avatar.png' %}" alt="Default avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            {% endif %}
            <h1>{{ user_profile.username }}</h1>
            {% if user_profile.biography %}
                <p>{{ user_profile.biography }}</p>
            {% endif %}
            <div class="profile-stats mt-4">
                <a href="{% url 'djangoinsta:subscribers_list' user_profile.username %}">Subscribers: {{ subscriber_count }}</a>
                <br>
                <a href="{% url 'djangoinsta:subscriptions_list' user_profile.username %}">Subscriptions: {{ subscription_count }}</a>
            </div>
            {% if user_profile != request.user %}
                {% if is_subscribed %}
                    <a href="{% url 'djangoinsta:unsubscribe' user_profile.username %}" class="btn btn-danger">Unsubscribe</a>
                {% else %}
                    <a href="{% url 'djangoinsta:subscribe' user_profile.username %}" class="btn btn-primary">Subscribe</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-7 mx-auto">
                    <div class="card mb-4">
                        <div class="card-header">
                            {{ post.author.username }}
                        </div>
                        <div class="card-body">
                            <p class="card-text"><a href="{% url 'djangoinsta:post_detail' post.id %}">{{ post.description }}</a></p>
                            {% if post.images.exists %}
                                <a href="{{ post.images.first.image.url }}">
                                    <img class="img-large mx-auto d-block" src="{{ post.images.first.image.url }}" alt="Post Image">
                                </a>
                            {% endif %}
                            <div>
                                <form method="post" action="{% url 'djangoinsta:like_unlike_post' post.id %}">
                                    {% csrf_token %}
                                    {% if post.is_liked_by_user %}
                                        <button type="submit" name="action" value="unlike" class="btn btn-danger">Unlike</button>
                                    {% else %}
                                        <button type="submit" name="action" value="like" class="btn btn-primary">Like</button>
                                    {% endif %}
                                </form>
                                <span>{{ post.likes.count }} likes</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
