{% extends 'base.html' %}

{% block navbar %}
    {% include 'include/navbar_for_registration.html' %}
{% endblock navbar %}

{% block content %}
<div class="mt-5">
    <h1 class="text-center">Password Reset Complete</h1>
    <div class="card mt-3">
        <div class="card-body">
            <div class="text-center">
                <p>Your password has been reset successfully.</p>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-warning">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
