{% extends 'base.html' %}

{% block navbar %}
    {% include 'include/navbar_for_registration.html' %}
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Change Password</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <input type="submit" value="Change" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'dashboard' %}" class="btn btn-link">Back to dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}