<!-- password_reset.html -->
{% extends 'base.html' %}

{% block navbar %}
    {% include 'include/navbar_for_registration.html' %}
{% endblock navbar %}

{% block content %}
<div class="mt-5">
    <h1 class="text-center">Password Reset</h1>
    <div class="card mt-3">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    <div class="form-group mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-warning">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'dashboard' %}" class="btn btn-link">Back to dashboard</a>
                <a href="{% url 'login' %}" class="btn btn-link">Login</a>
                <a href="{% url 'register' %}" class="btn btn-link">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
