{% extends 'base.html' %}

{% load static %}

{% block content %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Info -->
            <div class="card mb-3">
                <div class="card-body text-center">
                    {% if user.is_authenticated %}
                        <h2>{{ user.username }}</h2>
                        {% if user.avatar and user.avatar.url %}
                            <img src="{{ user.avatar.url }}" alt="User Avatar" class="img-thumbnail rounded-circle mb-3" width="150">
                            <br>
                            <a href="{% url 'add_avatar' %}" class="btn btn-warning btn-sm">Change photo</a>
                        {% else %}
                            <p>User does not have an avatar</p>
                            <a href="{% url 'add_avatar' %}" class="btn btn-success btn-sm">Add photo</a>
                        {% endif %}
                        <p>{{ user.bio }}</p>
                        <a href="{% url 'password_change' %}" class="btn btn-warning btn-sm">Change password</a>
                        <a href="{% url 'djangoinsta:create_post' %}" class="btn btn-warning btn-sm">Create post</a>
                    {% endif %}
                </div>
            </div>
            <!-- Profile Stats -->
            <div class="card mb-3">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-around">
                        <div>
                            <a href="{% url 'djangoinsta:subscribers_list' user.username %}" class="btn btn-success btn-sm" style="padding: 0.5rem 1rem;">
                                Subscribers
                                <p class="mb-0" style="font-size: 0.5rem;">{{ subscriber_count }}</p>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'djangoinsta:subscriptions_list' user.username %}" class="btn btn-success btn-sm" style="padding: 0.5rem 1rem;">
                                Subscriptions
                                <p class="mb-0" style="font-size: 0.5rem;">{{ subscription_count }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Posts -->
            {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center">
                        {% if post.author.avatar and post.author.avatar.url %}
                            <img src="{{ post.author.avatar.url }}" alt="Author Avatar" class="img-thumbnail rounded-circle mr-2" width="40" height="40">
                        {% else %}
                            <img src="{% static 'default_avatar.png' %}" alt="Default Avatar" class="img-thumbnail rounded-circle mr-2" width="40" height="40">
                        {% endif %}
                        <strong>{{ post.author.username }}</strong>
                    </div>
                    <div class="card-body">
                        <p>{{ post.description }}</p>
                        {% if post.images.exists %}
                            <img src="{{ post.images.first.image.url }}" alt="Post Image" class="img-fluid mb-2">
                        {% endif %}
                        <div class="mt-2">
                            <form method="post" action="{% url 'djangoinsta:like_unlike_post' post.id %}">
                                {% csrf_token %}
                                {% if post.is_liked_by_user %}
                                    <button type="submit" name="action" value="unlike" class="btn btn-danger">Unlike</button>
                                {% else %}
                                    <button type="submit" name="action" value="like" class="btn btn-primary">Like</button>
                                {% endif %}
                            </form>
                            <span>{{ post.likes.count }} likes</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
