body {
    background-color: aliceblue;
}

.img-large {
    width: 100%;
    height: auto;
}
.navbar-brand img {
    width: 100px;
}

.button-container {
  text-align: center;
}

.button-container a {
  margin: 10px;
  display: inline-block;
}

.rounded-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}